.carousel-wrapper {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

.carousel-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-slide {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-slide.active {
  display: block;
}

.carousel-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Overlay de texte */
.slide-overlay {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 0 2px 5px rgba(0,0,0,0.7);
  font-size: 2rem;
  font-weight: bold;
}

/* Boutons */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}
